version: '3.8'

services:
  traefik:
    image: traefik:v3.2
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/dynamic:/etc/traefik/dynamic:ro"
      - "./traefik/acme.json:/acme.json"
    networks:
      - web
    restart: unless-stopped

  nginx:
    build: ./website
    container_name: nginx
    networks:
      - web
    restart: unless-stopped
    depends_on:
      - traefik

networks:
  web:
    driver: bridge

